.candidato_container {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center;
  align-self: center;
  width: 90%;
  justify-content: center;
}

.foto_candidato {
  border-radius: 6px;
}

.nome {
  font-size: 14px;
  font-weight: 500;
}
.container_porcentagem {
  display: flex;
  align-items: center;
  gap: 12px;
}
.infos {
  width: 80%;
}
.porcentagem_grafico {
  width: 85%;
  height: 4px;
  background: #d0dfe4;
  border-radius: 8px;
  max-width: 270px;
}

.porcentagem {
  display: block;
  width: 0%;
  height: 4px;
  border-radius: 8px;
  z-index: 100;
  transition: all 2s;
  background-color: #538add;
}

.porcentagem_escrita {
  font-size: 12px;
  font-weight: 700;
  color: #626a75;
}

.votos {
  font-size: 10px;
  font-weight: 400;
  color: #626a75;
}

@keyframes carregando_porcentagem {
  from {
    width: 0px;
  }
  to {
    width: 50%;
  }
}
