.card_porcentagem {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 12px;
    margin-top: 16px;
    box-shadow: 0 6px 7px 1px #00000025;
}

.cabeçalho {
    font-size:  13px;
    color: var(--color-title);
    font-weight: 700;
    padding: 8px 0;
    border-bottom: 1px solid #B4C0D1;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
}